---
---

// This must be defined before `@import`.

@import 'main';

/* append your custom style below */

#sidebar header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#post-list .card .card-body .card-text.content p {
  line-height: 1.75;
  -webkit-line-clamp: 4;
}

#post-list.projects .card .card-body .card-text.content p {
  overflow: auto;
  -webkit-line-clamp: none;
}
