---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* Custom CSS */

#page {
  padding-top: 20px;
}

#post-list .post-preview {
  border: none;
  background: transparent;

  &:hover {
    background: transparent;
    box-shadow: none;
  }

  .post-content > p {
    -webkit-line-clamp: 4;
  }

  .project-meta {
    font-size: 0.85rem;
    word-spacing: 1px;
    display: flex;

    .mr-auto {
      margin-right: auto;
    }

    span:not(:last-child) {
      margin-right: 1.2rem;
    }

    a {
      color: #6c757d;
    }
  }
}
