---
layout: page
# The Home page layout
---

{% include lang.html %}

<div id="post-list">

{% for post in site.posts %}

  <div class="post-preview">
    <h1>
    {% if post.github %}
      <a target="_blank" href="{{ post.github }}">
        <i class="fab fa-github"></i> &nbsp; {{ post.title }}
      </a>
    {% else %}
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    {% endif %}
    </h1>

    <div class="post-content">
      <p>
        {% include no-linenos.html content=post.content %}
        {% if post.github %}
        {{ content | markdownify | strip_html | escape }}
        {% else %}
        {{ content | markdownify | strip_html | truncate: 350 | escape }}
        {% endif %}
      </p>
    </div>

    <div class="post-meta text-muted d-flex">

      <div class="mr-auto">
        <!-- posted date -->
        <i class="far fa-calendar fa-fw"></i>
        {% include timeago.html date=post.date tooltip=true %}

        <!-- version -->
        {% if post.version %}
        <i class="far fa-window-restore"></i>
        <span>
          <a target="_blank" href="{{ post.github }}/releases/tag/{{ post.version }}">
            {{ post.version }}
          </a>
        </span>
        {% endif %}

        {% unless post.github %}
        <!-- time to read -->
        <i class="far fa-clock fa-fw"></i>
        {% include read-time.html content=post.content %}
        {% endunless %}

        <!-- tags -->
        {% if post.tags.size > 0 %}
          <i class="fas fa-tag fa-fw"></i>
          <span>
          {% for tag in post.tags %}
            {{ tag }}
            {%- unless forloop.last -%},{%- endunless -%}
          {% endfor %}
          </span>
        {% endif %}
      </div>

      {% if post.pin %}
      <div class="pin">
        <i class="fas fa-thumbtack fa-fw"></i>
        <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
      </div>
      {% endif %}

    </div> <!-- .post-meta -->

  </div> <!-- .post-review -->

{% endfor %}

</div> <!-- #post-list -->
